@font-face {
  font-family: "iconfont"; /* Project id 3551499 */
  src: url('iconfont.woff2?t=1658925280336') format('woff2'),
       url('iconfont.woff?t=1658925280336') format('woff'),
       url('iconfont.ttf?t=1658925280336') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

